body.dark-mode {
    background-color: #2f3542;
    color: #f1f2f6;
}
body.dark-mode .card {
    background-color: #1e272e;
    border-color: #485460;
}
body.dark-mode .card-header {
    background-color: #485460;
    border-color: #1e272e;
    color: #f1f2f6;
}
body.dark-mode .btn-secondary {
    background-color: #485460;
    border-color: #1e272e;
}
body.dark-mode .footer {
    background-color: rgba(30, 39, 46, 0.8);
    color: #f1f2f6;
}
.dark-mode th,
.dark-mode td {
    color: #ffffff;
}
body.dark-mode .input-group input {
    background-color: #3a3f47;
    color: #f1f2f6;
    border: 1px solid #485460;
}
body.dark-mode .input-group input::placeholder {
    color: #a4b0be;
}
body.dark-mode .input-group textarea {
    background-color: #3a3f47;
    color: #f1f2f6;
    border: 1px solid #485460;
}
body.dark-mode .input-group textarea::placeholder {
    color: #a4b0be;
}
body.dark-mode .btn-outline-secondary {
    color: #a6a6a6;
    border-color: #a6a6a6;
}
td {
    max-width: 170px;
    white-space: normal;
    text-overflow: ellipsis;
}
.alert-dismissible {
    display: flex;
    align-items: center;
    position: relative;
}
.alert-dismissible .close {
    margin-left: auto;
    padding: 0.75rem 1rem;
    color: inherit;
}
.sort {
    cursor: pointer;
}
.sort .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.sort.asc .arrow:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    display: inline-block;
    vertical-align: middle;
}
.sort.desc .arrow:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    vertical-align: middle;
}
.more-btn {
    background-color: #6c757d;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
}
.dropdown-menu {
    min-width: 8rem;
    background-color: #6c757d;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #5a6268;
}
.dropdown-menu {
    min-width: unset;
    background-color: #6c757d;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: auto;
    right: 0;
    left: auto;
}
.footer {
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: #666;
}
.footer a {
    color: #0366d6;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}
::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 4px;
}
body.dark-mode ::-webkit-scrollbar-track {
    background-color: #3a3f47;
}
body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
}
body.dark-mode .modal-content {
    background-color: #2f3542;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    height: 85%;
    display: flex;
    flex-direction: column;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    height: 85%;
    display: flex;
    flex-direction: column;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.modal-body {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer {
    margin-top: 15px;
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modal-media {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
